.intro{
    height: 300px;
    width: 800px;
    background-color: azure;
    text-align: center;
    align-self: center;
    align-items: center;
    border-color: aquamarine;
    border-radius: 50px;
    border-width: 10px;
}
a{
    text-align: center;
}
html{
    background-color: aqua;
}
p{
    margin: 5%;
}
section{
    margin-top: 50px;
    align-self: center;
}
.button-link {
  display: inline-block;
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border-radius: 5px;

}
.button-link:hover {
  background-color: #0056b3;
}
